*~
*#
.#*
**/*.iml
**/*.bak
**/.idea
target/*
target
**/.classpath
**/.project
.classpath
.project
.settings
**/.settings
**/.settings/*
release.properties
**/pom.xml.releaseBackup
*.hold
*.log
.flattened-pom.xml
CBE*.out
console-0.9-*
weblogic-bean-info-harvester/harvested.jar
# Ignore Mac DS_Store files
**/.DS_Store
runnable
runnable/*
frontend/coverage/**
frontend/node_modules
frontend/staged-themes
frontend/web
frontend/.vscode/
frontend/settings.json
frontend/.DS_Store
frontend/**/.idea
frontend/libs
frontend/src/css/images
frontend/electron-test/NewWDTModelFile.yml
frontend/electron-test/electronTest.log
frontend/electron-test/node_modules/
frontend/electron-test/package-lock.json
frontend/electron-test/newPropFile.prop
frontend/electron-test/newUC001BWDTModelFile.yml
frontend/electron-test/newUC002BWDTModelFile.yml
frontend/electron-test/newUC003BWDTModelFile.yml
frontend/electron-test/newUC017BWDTModelFile.yml
frontend/electron-test/newWDTModelTokenFile.yml
.vscode/*
client.log.*
bin/*
weblogic-bean-info-harvester/build-*
run/work
fortify-output/**
owasp-output/**
frontend/seleniumTest.log
everypage-oracle-tests/
build-tools/download-bin
tmp

electron/dist/**
electron/extraFiles/**
electron/node_modules/**
electron/signed/**

hugo/*/docs/
hugo/*/.vscode/
hugo/*/.hugo_build.lock

*start-weblogic.out

# These are side effects of the WKTUI tests
frontend/wktui-tests/node_modules/**
weblogic-toolkit-ui/

upload
upload/**

wls-remote-console-helper-war/signin/package-lock.json
wls-remote-console-helper-war/ui/package-lock.json
