*~
*#
.#*
**/*.iml
**/*.bak
**/.idea
target/*
target
**/.classpath
**/.project
.classpath
.project
.settings
**/.settings
**/.settings/*
release.properties
**/pom.xml.releaseBackup
*.hold
.flattened-pom.xml
CBE*.out
console-0.9-*
# Ignore Mac DS_Store files
**/.DS_Store
runnable
runnable/*
frontend/coverage/**
weblogic-bean-types/src/*
frontend/node_modules
frontend/staged-themes
frontend/web
frontend/.vscode/
frontend/settings.json
frontend/.DS_Store
frontend/**/.idea
frontend/libs
frontend/src/css/images
frontend/oraclejetconfig.json
frontend/electron-test/NewWDTModelFile.yml
frontend/electron-test/electronTest.log
frontend/electron-test/node_modules/
frontend/electron-test/package-lock.json
.vscode/*
client.log.*
/bin/
weblogic-bean-info-harvester/build-*
run/work
fortify-output/**
owasp-output/**
frontend/seleniumTest.log

electron/dist/**
electron/extraFiles/**
electron/node_modules/**

hugo/*/docs/
hugo/*/.vscode/
hugo/*/.hugo_build.lock
