*~
*#
.#*
**/*.iml
**/*.bak
**/.idea
target/*
target
**/.classpath
**/.project
.classpath
.project
.settings
**/.settings
**/.settings/*
release.properties
**/pom.xml.releaseBackup
*.hold
*.log
.flattened-pom.xml
CBE*.out
console-0.9-*
weblogic-bean-info-harvester/harvested.jar
# Ignore Mac DS_Store files
**/.DS_Store
runnable
runnable/*
.vscode/*
client.log.*
**/bin
bin/*
weblogic-bean-info-harvester/build-*
sample-security-providers/buildout
run/work
fortify-output/**
owasp-output/**
everypage-oracle-tests/
everypage-output/
build-tools/download-bin
tmp

electron/dist/**
electron/extraFiles/**
electron/node_modules/**
electron/signed/**

hugo/*/docs/
hugo/*/.vscode/
hugo/*/.hugo_build.lock

*start-weblogic.out

weblogic-toolkit-ui/

upload
upload/**

/bin/

wlsrc
wlsrc/**

translation-work
.metadata

everypage-output-*

log.txt

weblogic-bean-info-harvester/build

geckodriver
geckodriver.tar

everypage.d/fixes-15.1.1.0-in-progress/everypage/**
.clinerules/
