/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   wrc-assets .wrc-assets-value-text {
   color: var(--wrc-assets-value-text-color);
   display: inline-block;
	 }
*/

wrc-assets:not(.oj-complete){
  visibility: hidden;
}

wrc-assets{
	min-height: 50px;
	width: 50px;
}

wrc-assets[hidden]
{
  display: none;
}