/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   wrc-table .wrc-table-value-text {
   color: var(--wrc-table-value-text-color);
   display: inline-block;
	 }
*/

wrc-table:not(.oj-complete){
  visibility: hidden;
}

wrc-table{
	min-height: 50px;
	width: 50px;
}

wrc-table[hidden]
{
  display: none;
}