/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   wrc-wrc-form .wrc-wrc-form-value-text {
   color: var(--wrc-wrc-form-value-text-color);
   display: inline-block;
	 }
*/

wrc-wrc-form:not(.oj-complete){
  visibility: hidden;
}

wrc-wrc-form{
	min-height: 50px;
	width: 50px;
}

wrc-wrc-form[hidden]
{
  display: none;
}