
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// nav-tree .nav-tree-value-text {
// color: var(--nav-tree-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("nav-tree.base") {
  nav-tree:not(.oj-complete){
    visibility: hidden;
  }
  
  nav-tree{
  	min-height: 50px;
  	width: 50px;
  }
}