
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// wrc-table .wrc-table-value-text {
// color: var(--wrc-table-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("wrc-table.base") {
  wrc-table:not(.oj-complete){
    visibility: hidden;
  }
  
  wrc-table{
  	min-height: 50px;
  	width: 50px;
  }


}
