/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   wrc-error-boundary .wrc-error-boundary-value-text {
   color: var(--wrc-error-boundary-value-text-color);
   display: inline-block;
	 }
*/

wrc-error-boundary:not(.oj-complete){
  visibility: hidden;
}

wrc-error-boundary{
	min-height: 50px;
	width: 50px;
}

wrc-error-boundary[hidden]
{
  display: none;
}